<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Définition du bean AmountService -->
    <bean id="amountService" class="org.payment.bankCheck.service.AmountService"/>

    <!-- Définition du bean FondAndFormService avec injection du bean amountService -->
    <bean id="fondAndFormService" class="org.payment.bankCheck.service.FondAndFormService">
        <constructor-arg ref="amountService"/>
    </bean>

</beans>
